.Rproj.user
.Rhistory
.RData
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.tex
*.nav
*.snm
*.toc
dev/*
framed.sty
paper/cache/*
paper/figures/old/
paper/lit/
paper/cda/
slides/*mpsa*
slides/*slamm*
slides/*key
slides/*2018*
data/gm*.rda
data/ab*.rda
data/all*.rda
data/x1.csv

